body {
  background: #f2f1f0;
  font-family: verdana,sans-serif;
}

.navheader, .chapter {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

a.commenttoggle:hover, a.commenttoggle:active {
  opacity: 0.7;
}

a:hover, a:active {
  border-bottom: 1px solid #aaaaaa;
}

.book, .preface, .chapter, .appendix, .bibliography, .basetemplate {
  background: white;
  padding: 2em;
}

h1 {
  margin-top: 1.5em;
}

h2, h3 {
  margin-top: 2em;
}

h1, h2, h3 {
  font-family: georgia,serif;
  font-weight: normal;
  margin-bottom: 0.5em;
}

h1.booktitle {
  margin-bottom: 0px;
}

h2.booktitle {
  text-align: center;
}

h2.booktitle > a {
  color: black;
}

div.authors {
  font-size: 80%;
  margin-bottom: 1em;
  padding-left: 0.25em;
}

span.authors {
  font-size: 80%;
  opacity: 0.55;
  padding-left: 0.5em;
}

div.note th, div.tip th, div.warning th {
  font-family: georgia,serif;
  font-weight: normal;
  font-size: 110%;
}

div.navheader th, {
  font-family: georgia,serif;
}

div.navheader th {
  opacity: 0;
  font-size: 0;
}

pre.screen {
  background-image: url(imagens/shell.png);
}

pre.programlisting {
  background-image: url(imagens/source.png);
}

pre.programlisting, pre.screen {
  border-style: solid;
  border-width: 1px;
  font-size: medium;
  padding: 1em;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding-left: 70px;
}

strong.command, code, pre, span.type {
  font-family: monospace;
  font-weight: normal;
}

strong.userinput > code {
  font-weight: bolder;
  color: #303030;
}
.chapinfo {
  float: right;
  color: #a0a0a0;
}

.book .titlepage {
  display: none;
}

pre.programlisting, pre.screen {
  overflow: hidden;
}

div.warning {
  background-color: #FFEFE8;
  border-color: #e0a8a0;
}

.screen {
  background: #e7ffc7 none repeat scroll 0% 50%;
  border-color: #94DA3A;
}

.prompt {
  color: #448844;
}

div.note, div.tip {
  background: #ffffc9;
  border-color: #B4BAEA;
}

div.note, div.warning, div.tip {
  border-style: solid;
  border-width: 1px;
  padding: 1em;
}

.note .title {
  font-size: 90%;
}

.rwhfooter {
  width: 60em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 80%;
  color: #727272;
}